/* Hide hamburger menu icon */
.md-header__button.md-icon {
  display: none;
}

/* Hide sidebar entirely */
.md-sidebar {
  display: none;
}

/* Remove left offset caused by sidebar */
.md-main__inner {
  margin-left: 0;
}

/* Disable click on top-left logo entirely */
.md-header-nav__title a,
.md-header-nav__icon a {
    pointer-events: none;
    cursor: default;
}

